<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   WSDOT

   Created by Andrew Englehorn on 4/12/24.
   Copyright (c) 2024 WSDOT. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
