<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WSDOT_KEY</key>
	<string>WSDOT_KEY_STRING</string>
	<key>AD_UNIT_ID</key>
	<string>AD_UNIT_STRING</string>
</dict>
</plist>
